body {
	font-family: Outage;
	font-size: 18px;
	color: #333132;
	background-color: #FEF8E2;
}

.underline {
	width: 50%;
	background-color: #f89939;
	border: none;
	height: 5px;
}

.brand-logo {
	color: #FEF8E2 !important;
	text-shadow:-1.42px -1.42px 0 #000,1.42px -1.42px 0 #000,-1.42px 1.42px 0 #000,1.42px 1.42px 0 #000 !important;
	padding-left: 20px !important;
}

#app {
	padding-bottom: 10px;
}

#app .col {
	padding: 6px;
}

#nav-mobile {
	padding-right: 162px;
}

.scroll {
	color: #FEF8E2 !important;
	text-shadow:-1.42px -1.42px 0 #000,1.42px -1.42px 0 #000,-1.42px 1.42px 0 #000,1.42px 1.42px 0 #000 !important;
	padding-left: 20px !important;
}

.list {
  list-style: none;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.list .sameline {
	display: inline-block;

}

.list li {
	padding-bottom: 12px;
}

#register{
	background-color:#89BC62;

}

#register:hover {
	background-color:#5cbf2a !important;
}

#register:active {
	position:relative;
	top:1px;
}

#register {
	-moz-box-shadow: 0px 2px 0px 0px #2f6627;
	-webkit-box-shadow: 0px 2px 0px 0px #2f6627;
	box-shadow: 0px 4px 0px 0px #2f6627;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border:1px solid #18ab29;
	display:inline-block;
	text-decoration:none;
	background-color:#44c767 !important;
	color:white;
	cursor:pointer;
	font-size:23px;
	line-height:57.3px;
	text-align:center;
	margin:0;
	height:57.3px;
	padding:3px 38px 0px 38px;
	border-radius:25px;
	max-width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight:bold;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

#registerTT{
	background-color:#f89939;

}

#volunteer {
	display:inline-block;
	text-decoration:none;
	background-color:#267DDD;
	color:white;
	cursor:pointer;
	line-height:55px;
	text-align:center;
	margin:0;
	height:55px;
	padding:0px 36px;
	border-radius:27px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight:bold;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	-moz-box-shadow: 0px 2px 0px 0px #0d56a5;
	-webkit-box-shadow: 0px 2px 0px 0px #0d56a5;
	box-shadow: 0px 3px 0px 0px #0d56a5;
	border:1px solid #0d56a5;
	/*color: white !important;*/

}

#volunteer:hover {
	background-color:#0f74e2 !important;
}

#volunteer:active {
	position:relative;
	top:1px;
}

.platinum img {
	max-width: 250%;
    max-height:250%;
	width: auto;
}

.sponsor {
    padding: 20px 110px 0px 110px ;
    white-space: nowrap;

    text-align: center; margin: 1em 0;
}

.sponsor img {
	vertical-align: middle;
}

.gold img{
max-width: 220%;
    max-height:220%;
	width: auto;
margin: auto;}

.silver img{
max-width: 180%;
    max-height:180%;
	width: auto;
margin: auto;}

.bronze img{
max-width: 120%;
    max-height:120%;
	width: auto;
	margin: auto;
	/*padding: 20px 200px 0px 200px !important;
}*/
}

.tl .timeline{
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #222);

  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.tl .timeline:before{
  content: "";
  width: 4px;
  height: 100%;
  background-color: #f89939;

  position: absolute;
  top: 0;
}

.tl .timeline__group{
  position: relative;
}

.tl .timeline__group:not(:first-of-type){
  margin-top: 4rem;
}

.tl .timeline__year{
  padding: .5rem 1.5rem;
  color: var(--uiTimelineSecondaryColor);
  background-color: #f89939;

  position: absolute;
  left: 0;
  top: 0;
}

.tl .timeline__box{
  position: relative;
}

.tl .timeline__box:not(:last-of-type){
  margin-bottom: 18px;
}

.tl .timeline__box:before{
  content: "";
  width: 100%;
  height: 2px;
  background-color: #f89939;

  position: absolute;
  left: 0;
  z-index: -1;
}

.timeline__content {
		color: #FEF8E2;

}

.timeline__content p {
	font-size: .9em;
}

.tl .timeline__date{
  min-width: 65px;
  position: absolute;
  left: 0;

  box-sizing: border-box;
  padding: .6rem .5rem .4rem .7rem;
  text-align: center;

  background-color: #f89939;
  color: var(--uiTimelineSecondaryColor);
}

.tl .timeline__day{
  font-size: 1rem;
  font-weight: 700;
  display: block;
}

.tl .timeline__month{
  display: block;
  font-size: .8em;
  text-transform: uppercase;
}

.tl .timeline__post{
  padding: 1rem 1.5rem;
  border-radius: 2px;
  border-left: 3px solid #f89939;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
  background-color: var(--uiTimelineSecondaryColor);
}

@media screen and (min-width: 641px){

  .tl .timeline:before{
    left: 30px;
  }

  .tl .timeline__group{
    padding-top: 55px;
  }

  .tl .timeline__box{
    padding-left: 100px;
  }

  .tl .timeline__box:before{
    top: 50%;
    transform: translateY(-50%);
  }

  .tl .timeline__date{
    top: 50%;
    margin-top: -27px;
  }
}

@media screen and (max-width: 640px){

  .tl .timeline:before{
    left: 0;
  }

  .tl .timeline__group{
    padding-top: 40px;
  }

  .tl .timeline__box{
    padding-left: 20px;
    padding-top: 70px;
  }

  .tl .timeline__box:before{
    top: 90px;
  }

  .tl .timeline__date{
    top: 0;
  }
}

.tl .timeli#f89939 #4557bb {
  font-size: 16px;
}

.tl body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  color: #222;

  background-color: #f0f0f0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.tl p{
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.tl p:last-child{
  margin-bottom: 0;
}

.tl .page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tl .page__demo{
  flex-grow: 1;
}

.tl .main-container{
  max-width: 960px;
  padding-left: 2rem;
  padding-right: 2rem;

  margin-left: auto;
  margin-right: auto;
}

.tl .page__container{
  padding-top: 0px;
  padding-bottom: 30px;
  max-width: 800px;
}

.tl .footer{
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.4rem;
}

.tl .footer__link{
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 361px){

  .tl .footer__container{
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 360px){

  .tl .melnik909{
    display: none;
  }
}

.fill {
	background-color: #574d4f;
	background: url("res/columns.jpg") center;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100vh;
}

.content {
	background-color: RGBA(87, 77, 79, 0.6);
	color: #f89939;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	position: absolute;
	min-width: 28.5rem;
	border-radius: 4px;
}

.logo {
	width: 100%;
	max-width: 300px;
	display: block;
	margin: auto;
}

.btn-large {
	color: #f89939;
	margin-bottom: 10px;
}

a, a.email {
   color: #f89939;
}

.fa, footer .email {
	color: #333132;
}

@font-face {
	font-family: "Outage";
	src: url("Outage.ttf") format("truetype"), url("Outage.eot");
}

#signupbutton {
	float: right;
}

label {
	padding-top: 10px;
}

h2 {
	font-size: 3.33rem;
	display: inline;
}

.white {
	background-color: #FEF8E2 !important;
}

.black {
	background-color: #333132!important
}

.blacklink {
	color: #333132!important;
	text-decoration: underline;
}

.bottom {
	text-align: center;
	bottom: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -42%);
}

h1 {
	margin: 0px;
	cursor: pointer;
}

.banner {
	width: 100%;
	text-align: center;
	background-color: #333132;
	color: #FEF8E2;
	padding: 30px;
}

.border {
	text-shadow:-.3px -.3px 0 #000,.3px -.3px 0 #000,-.3px .3px 0 #000,.3px .3px 0 #000 !important;

}

p {
	font-size: 18;
	font-family: "Source Sans Pro", sans-serif;
	margin: 0px;
}

.member img {
	max-width: 50%;
}

.member {
	text-align: center;
}

h6 {
	font-size: 130%;
}

footer {
	background-color: #f89939 !important;
	color: #333132 !important;
}

.footer-copyright {
	color: #333132 !important;
}

.navigator {
	position: fixed;
	right: 10px;
	bottom: 10px;
	text-align: right;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 3px;
}

.navigator a {
	color: #FEF8E2 !important;
}

.tab {
	font-size: .737rem;
	background-color: #FEF8E2;
}

.indicator {
	background-color: #f89939 !important;
}

.tablink {
	color: #333132 !important;
	font-size: 160% !important;
}

p.major {
	font-style: italic;
}

.row {
	margin-bottom: 1rem;

}

.row > p {
	max-width: 600px;
	text-align: center;
	margin: auto;
}



#sponsorinfo > .row .col {
	padding: 1rem 0;
}

#platinum {
	margin-left: 20.83333%;
   margin-bottom: 5%;
   border-style: solid;
   border-color: #f89939;
   padding: 4%!important;
   border-radius: 3%;
}

#vu {
	margin-top: 1rem;
}

#carfax {
	margin-top: 1rem;
}

.bronzeS {
	width: 90%;
}

li .gold {
	display: inline; padding: 8px;
	color: #FFD700 !important;
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000 !important;
}

li .silver {
display: inline; padding: 8px;
	color: #c0c0c0 !important;
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000 !important;

}

li .bronze {
display: inline; padding: 8px;
	color: #cd7f32 !important;
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000 !important;

}

.in-kind {
   width: 80%;
}

#nanotechnovate {
	margin-left: 5%;
}

.wide-container{
	width: 90%;
	margin-top: 20px;
	padding: 0px 0px 30px 0px;
}

#faqinfo{
	padding-top: 30px;
	margin-bottom: 40px;
}

.info-header{
	padding-top: 25px;
	padding-bottom: 15px
}

.fa-chevron-up {
	color :#FEF8E2;
}

.map {
	width: 60%;
	height: 60%;
}

.mapwrapper {
	padding-bottom: 35px !important;
}
.social {
	padding: 10px;
}

.winner {
	text-decoration: underline;
}

#registration-button {
	background: #F89939;
	margin: 30px calc(50% - 150px);
	width: 300px;
	height: 100px;
	border-radius: 10px;
}

#registration-button:hover {
	background: #E99139;
}